form {
    margin: 50px;
}

.btn-next {
    margin-bottom: 100px;
}

hr {
    border: rgb(160, 160, 160) solid 1px;
}

.table-bordered {
    border: rgb(160, 160, 160) solid 1px;
}

/* h3 {
    color: gray;
} */

#table1 th {
    width: 10%;
}

#table1 td {
    width: 50%;
}
